{% extends '/layout.twig' %}

{% block pageContent %}

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center-align">
                <h4 class="blue-text">404 - Dead End!</h4>

                <p>
                    <i class="large material-icons">warning</i>
                </p>

                <p>
                    Looks like the page or option you're looking for doesn't exist or has gone off the road!<br>
                    Put it in reverse, and <a href="#" onclick="window.history.go(-1);">go back</a>.<br><br>
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}