{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12">
                    <h4 class="blue-text">Your Dashboard</h4>
                    <p>Easily review your vehicles, repairs, and expense reports.</p>
                </div>
            </div>

            <div class="row">

                <div class="col l4 m6 s12">
                    {% include 'user/myCarsList.twig' %}

                    <a href="/add-car" class="waves-effect waves-light light-green darken-1 btn">Add Vehicle <i class="material-icons right">playlist_add</i></a>
                </div>

                <div class="col offset-l1 l7 m6 s12">
                    <h5 class="orange-text">Options</h5>

                    <a href="/add-repair" class="waves-effect waves-ligh light-blue darken-1 btn">Add Repair</a>
                    <a href="/view-repairs" class="waves-effect waves-light light-blue darken-1 btn">View Repairs</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}