<h5 class="orange-text">Your Vehicles</h5>

<div class="collection">
    {% if cars == null %}
    <a href="#" class="collection-item">You do not have any vehicles yet.</a>
    {% endif %}
    {% for myCar in cars %}
        <a href="/mycar/{{ myCar.id }}" class="collection-item">{{ myCar.car_year }} {{ myCar.car_make }} {{ myCar.car_model }}</a>
    {% endfor %}
</div>