{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col l12 s12 m12">
                    <h4 class="blue-text">About RepairMotive</h4>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">
                    <p>
                        <strong class="orange-text">How it works</strong><br>
                        Imagine this: you go to the local repair shop and they print you out a long receipt of the repairs they made to your car. You put it in your car,
                        and if you're lucky, you remember to bring it inside and file it away somewhere. If you're like most, you leave it in the car and unless it's store in the dark, those
                        receipts fade quickly.<br><br>

                        RepairMotive allows you to enter in your latest vehicle repairs and then access them anywhere. You can record the vehicle for which the repair was made on, the shop's receipt ID,
                        and easily track those repairs in the future. No more struggles with keeping up with the paper trail!
                    </p>

                    <p>
                        <strong class="orange-text">Features</strong><br>
                        In addition to tracking your repairs, we allow you to view an expense report, we allow you to share your repair log with potential buyers, or any repair shop. Perfect for he;lping you communicate
                        with others about the history of your vehicle's repairs.
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}