{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col l12 s12 m12">
                    <h4 class="blue-text">RepairMotive FAQ</h4>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">
                    <strong class="orange-text">Is RepairMotive Free?</strong>

                    <p>
                        Yes, it's free for families and personal usage.<br>
                        We will be implementing a commercial version which will be perfect for repair shops and dealers.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">
                    <strong class="orange-text">Do you have a mobile app?</strong>

                    <p>
                        Not yet, though we're working on a native mobile app, our site works and scales well on your mobile device. We've
                        also went through great lengths to ensure as minimal data usage as possible.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">
                    <strong class="orange-text">Do you give my information to 3rd parties?</strong>

                    <p>
                        No, we have no association with any 3rd party companies. In addition, we do not have ads on our site and maintain
                        full control over whatever data you provide to us for your vehicles.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">
                    <strong class="orange-text">I don't see my vehicle, why?</strong>

                    <p>
                        We're constantly trying to improve our vehicle list, if you do not see your vehicle, you can <a href="/contact">report it to us</a>
                        and we'll add it in.
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}