{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Track Your Repairs!</h1>

            <div class="row center">
                <h5 class="header col l12 m12 s12">Do away with receipts from your auto-repairs, easily track all of your vehicles.</h5>
            </div>

            <div class="row center">
                <a href="/login" class="btn-large waves-effect waves-light orange">Start Tracking Today!</a>
            </div>

            <div class="row">
                <div class="col l7 m7 s12">
                    <h3 class="blue-text">How It Works</h3>
                    <p>
                        <strong>Imagine this:</strong> you go to the local repair shop and they print you out a long receipt of the repairs they made to your car. You put it in your car,
                        and if you're lucky, you remember to bring it inside and file it away somewhere. If you're like most, you leave it in the car and unless it's store in the dark, those
                        receipts fade quickly.<br><br>

                        RepairMotive allows you to enter in your latest vehicle repairs and then access them anywhere. You can record the vehicle for which the repair was made on, the shop's receipt ID,
                        and easily track those repairs in the future. No more struggles with keeping up with the paper trail!
                    </p>
                </div>

                <div class="col l5 m5 s12">
                    <div class="right-aligned">
                        <img src="/www/images/digital-reciept.png" alt="Paper Receipt" class="responsive-img hide-on-large-only">
                        <img src="/www/images/mobile-friendly.png" alt="Mobile friendly" class="responsive-img hide-on-med-and-down">
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="section">

            <!-- Icon Section -->
            <div class="row">
                <div class="col s12 m4 s12">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="medium material-icons">query_builder</i></h2>
                        <h5 class="center orange-text">Always Available</h5>

                        <p>
                            Easily access your repair information from anywhere! If you're on the go or at home, you'll easily
                            be able to pull up every vehicle repair you've logged.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4 s12">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="medium material-icons">receipt</i></h2>
                        <h5 class="center orange-text">No More Paper Trail</h5>

                        <p>
                            Keeping up with those paper receipts can be a pain. They get wet, fade in the sun, and simply go missing from time
                            to time. Our system does away with the pesky paper trail.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4 s12">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="medium material-icons">group</i></h2>
                        <h5 class="center orange-text">Perfect For Anyone</h5>

                        <p>
                            If you're a single car family, or a small shop, our platform can save you headaches, help track expenses and can be shared
                            with anyone when it comes time to sell or for your next repair visit.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}