{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col l12 s12 m12">
                    <h4 class="blue-text">RepairMotive Privacy Statement</h4>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">

                    <p>
                        This website uses cookies. This is our way of ensuring we display the right data to the right users and validate you, the user, while using our platform.<br><br>

                        This website utilizes industry standard password encryption, data protection, and does not disclose information to any 3rd Parties.<br><br>

                        We may occasionally send out emails for announcements on new features or important updates. We do not distribute your emails to 3rd Parties.
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}