{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col l12 s12 m12">
                    <h4 class="blue-text">RepairMotive Terms and Conditions</h4>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">

                    <p>
                        By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for
                        compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site
                        are protected by applicable copyright and trade mark law.
                    </p>

                    <p>
                        <strong>1.) Disclaimer</strong><br>
                        The materials on RepairMotive's web site are provided "as is". RepairMotive makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without
                        limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further,
                        RepairMotive does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating
                        to such materials or on any sites linked to this site.
                    </p>

                    <p>
                        <strong>2.)Limitations</strong><br>
                        In no event shall RepairMotive be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of
                        the use or inability to use the materials on RepairMotive's Internet site, even if RepairMotive or a RepairMotive authorized representative has been notified orally or in writing of the possibility
                        of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not
                        apply to you.
                    </p>

                    <p>
                        <strong>3.) Usage</strong><br>
                        RepairMotive is a website platform use to store data about personal vehicle repairs. We provide no additional tools or resources related to the automobile industry at this time.<br>
                        If you are a repair shop or garage, we ask that you contact us for special usage of our platform.
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}