{% extends '/layout.twig' %}

{% block pageContent %}

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col l12 s12 m12">
                    <h4 class="blue-text">Updates and Change Log</h4>
                </div>
            </div>

            <div class="row">
                <div class="col l12 s12 m12">

                    <p>
                        <u><strong>0.5.2</strong></u> - 2016.8.12<br>
                        <ul>
                            <li>- Added fix to the car deletion process. No longer redirects to incorrect page.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.5.1</strong></u> - 2016.8.11<br>
                        <ul>
                            <li>- Added minor fix for broken links if not logged in.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.5.0</strong></u> - 2016.8.3<br>
                        <ul>
                            <li>- Added ability to delete vehicles from your list.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.4.3</strong></u> - 2016.8.2<br>
                        <ul>
                            <li>- Removed caching of some assets as it was causing log in issues.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.4.2</strong></u> - 2016.8.2<br>
                        <ul>
                            <li>- Added browser caching to assets.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.4.2</strong></u> - 2016.8.2<br>
                        <ul>
                            <li>- Added minor homepage updates.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.4.0</strong></u> - 2016.8.2<br>
                        <ul>
                            <li>- Added auto-suggestions when adding a repair, this list will grow to include a massive amount of suggestions.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.3.3</strong></u> - 2016.8.1<br>
                        <ul>
                            <li>- Added option to reset password from login screen.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.3.2</strong></u> - 2016.8.1<br>
                        <ul>
                            <li>- Added internal emailing system. Will pave the way for password resets, emailing expense reports and future features.</li>
                            <li>- Fixed issue with emails being slow to send via the Contact form.</li>
                            <li>- All contact links changed to go to the contact form instead of opening a mail client.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.2.1</strong></u> - 2016.7.31<br>
                        <ul>
                            <li>Fixed bug with 404 page showing outdated layout.</li>
                        </ul>
                    </p>

                    <p>
                        <u><strong>0.2.0</strong></u> - 2016.7.31<br>
                        <ul>
                            <li>Added ability to include mileage when adding a repair.</li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}